* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.container {
  width: 100%;
  height: 100vh;
  background: linear-gradient(135deg, #4203a9, #90bafc);
  color: #ffffff;
  padding: 10px;
  text-align: center;
}
.calculator {
  width: 100%;
  margin-top: 10%;
}
.heading h1 {
  font-size: 50px;
  margin-bottom: 40px;
  /* text-transform: uppercase; */
}
.input-container {
  margin: 40px 0px;
  padding: 35px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.3);
  display: flex;
  align-items: center;
  width: 60%;
  justify-content: center;
}
.input-container input {
  flex: 1;
  padding: 14px 20px;
  border: 0;
  outline: 0;
  font-size: 18px;
  border-radius: 5px;
  position: relative;
}
.input-container button {
  background: #ffff76;
  border: 0;
  outline: 0;
  padding: 15px 30px;
  font-weight: 500;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
}
#result{
    font-size: 28px;
}
#result span{
    color: blue;
}
